@model IEnumerable<PersonalBlog.Domain.DataTransferObjects.ArticleDTO>

@{
    ViewBag.Title = "Articles";
}


<div class="container">

    <h2>Articles</h2>
    <hr />
    <div class="row" style="background-color: red">
        
        <div class="col-lg-8" style="background-color: blue">
         
                @foreach (var article in Model)
                {
                    <div class="list-group" >
                        <a class="list-group-item" href="@Url.Action("Show", "Article", new { articleId = article.ArticleId })">
                            <p class="text-muted">@article.UserName @article.Date.ToUniversalTime()</p>
                            <hr />
                            <h4 class="list-group-item-heading">@article.Title</h4>
                            <p class="list-group-item-text">@article.Body</p>
                            <hr />
                            <p class="text-muted">Blog: @article.BlogTitle | #@article.ArticleId | Comments: @article.Comments.Count</p>
                        </a>
                    </div>
                }
            
        </div>
        <div class="col-lg-2"></div>

    </div>
</div>

