@model IEnumerable<PersonalBlog.Web.Models.ArticleViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container ">
    <div class="row ">
        <h1>Articles</h1>
        <hr />
        <div class="list-group col-lg-8">
            @foreach (var article in Model)
            {
                <div class="list-group">
                    <a class="list-group-item" href="@Url.Action("Show", "Article", new { articleId = article.ArticleId })">
                        <p class="text-muted">@article.UserName @article.Date</p>
                        <hr />
                        <h4 class="list-group-item-heading">@article.Title</h4>
                        <p class="list-group-item-text">
                            @(@article.Body.Length > 255 ? article.Body.Substring(0, 255) + " ..." : article.Body)
                        </p>
                        <p>
                        @foreach (var tag in article.Tags)
                        {
                            <span class="label label-default">@tag</span>
                        }
                        </p>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6"><p class="text-muted">@article.BlogTitle</p> </div>
                            <div class="col-md-6 text-right"><p class="text-muted"><span class="glyphicon glyphicon-comment"></span> Comments: @article.Comments.Count</p> </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="list-group col-lg-4">


            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("CreateArticle", "Article")" class="btn btn-success btn-lg btn-block">New Article</a>
                    }
                    else 
                    {
                    <a href="#" class="btn btn-default disabled btn-lg btn-block">You have to registrate first </a>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>